<ul>
    <li>
        Bereich erstellen
        <ul>
            <li>Leerer Bereich</li>
            <li>Kunden-Bereich</li>
            <li>Team-Bereich</li>
            <!--<li>Persönlicher Bereich</li>-->
            <!--<li>Dokumentationsbereich</li>-->
            <!--<li>Knowledge Base</li>-->
            <!--<li>Team-Bereich</li>-->
        </ul>
    </li>
    <li>
        Seite erstellen
        <ul>
            <li>Leere Seite</li>
            <li>Blog-Eintrag</li>
            <li>Anleitung</li>
            <li>Aufgabenbericht</li>
            <li>Besprechungsnotizen</li>
            <li>Kalender</li>
            <li>Dateiliste</li>
            <li>Link teilen</li>
            <li>Entscheidung</li>
            <li>Fehlerbehebungsartikel</li>
            <li>Produktanforderungen</li>
            <li>Retrospektive</li>
            <li></li>
            <li></li>
        </ul>
    </li>
</ul>