<section class="content-header">
    <div class="pull-right">
    </div>
    <h1>
        {{ 'Home' | translate }}
        <small translate>Welcome!</small>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <tabset class="nav-tabs-custom">
                <tab heading="{{ 'Dashboard' | translate }}">
                    <div class="row">
                        <small-box name="{{ box.name }}" color="{{ box.color }}" icon="{{ box.icon }}"
                                   quantity="{{ box.quantity }}" href="{{ box.href }}"
                                   ng-repeat="box in boxes | orderBy:['-quantity', 'name']"></small-box>

                    </div>
                </tab>
                <tab heading="{{ 'Dashboard' | translate }}">
                    <div class="row">
                        <div class="col-md-6">
                            <h2>Als Guru</h2>
                            <ul>
                                <li>Punkte sammeln und verteilen</li>
                                <li>Video erstellen</li>
                                <li>Trainingsplan erstellen</li>
                                <li>Ernährungsplan erstellen</li>
                                <li>Blogbeitrag erstellen</li>
                                <li>Online-Coaching freischalten</li>
                                <li>Bereich für Mitglieder freischalten</li>
                                <li>Analytics freischalten</li>
                                <li>Online-Shop freischalten</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h2>Als Kunde</h2>
                            <ul>
                                <li>Punkte sammeln und verteilen</li>
                                <li>Videos entdecken</li>
                                <li>Trainingspläne entdecken</li>
                                <li>Ernährungspläne entdecken</li>
                                <li>Blogs entdecken</li>
                                <li>Rabatte und Schnäpchen entdecken</li>
                                <li>Personal Trainer finden</li>
                            </ul>
                        </div>
                    </div>
                </tab>
                <tab heading="{{ 'Empfohlen' | translate }}">

                </tab>
            </tabset>
        </div>
    </div>
</section>
