<section data-admin-header class="content-header" data-sub-title="Entdecken"
         title="{{ 'Browse' | translate }}">
</section>
<section class="content">

    <tabset class="nav-tabs-custom">
        <tab heading="{{ 'Gurus' | translate }}">
            <div class="row">
                <div class="col-sm-6 col-md-3" data-teaser-box data-item="guru" data-ng-repeat="guru in gurus"></div>
            </div>
            <div class="row">
                <ul>
                    <li>Wie finde ich den besten Guru? - Formel?</li>
                </ul>
            </div>
        </tab>
        <tab heading="{{ 'Trainingsprogramm' | translate }}">
            <div class="row">
            </div>
        </tab>
        <tab heading="{{ 'Genres' | translate }}">
            <div class="row">
            </div>
        </tab>
        <tab heading="{{ 'News' | translate }}">
            <div class="row">
            </div>
        </tab>
        <tab heading="{{ 'Discover' | translate }}">
            <div class="row">
            </div>
        </tab>
    </tabset>

</section>