<section data-admin-header class="content-header" data-sub-title="{{ guru.slogan }}"
         title="{{ guru.name }}">
</section>
<section class="content">
    <tabset class="nav-tabs-custom">
        <tab heading="Overview">
            <ul>
                <li>Twitter</li>
                <li>Facebook</li>
                <li>Youtube</li>
                <li>Instagram</li>
            </ul>
        </tab>
        <tab heading="Blog"></tab>
        <tab heading="Interviews"></tab>
        <tab heading="Ernährung"></tab>
        <tab heading="Training"></tab>
        <tab heading="Supplements"></tab>
        <tab heading="News"></tab>
        <tab heading="Online-Coaching"></tab>
        <tab heading="Videos"></tab>
        <tab heading="Mitgliederbereich"></tab>
        <tab heading="Mehr">
            <ul>
                <li></li>
            </ul>
        </tab>
    </tabset>
</section>